<!-- 
    @Author: Tyler Ward
    @Version: 3/4/25
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Production Program - Home</title>
    <link rel="stylesheet" href="/static/HomeStyles.css">
    <link rel="stylesheet" href="static/table.css">
</head>
<body>
    <!--header and logo-->
    <header>
        <div class="header-content">
            <img src="./public/images/logo-transparent-svg.svg" alt="News Production Program Logo" class="logo">
            <h1>News Production Program</h1>
            <div class = "header-buttons">
                <button id="user-management-btn" class="header-button">User Management</button>
                <button id="logout-btn" class = "header-button">Logout</button>

            </div>
        </div>
    </header>
    <!--Nav Bar-->
    <div class ="nav-bar">
        <!--
        <button class="hamburger">
            <img src="./public/images/hamberger.jpg" alt="Menu" class="hamburger-icon">
        </button>
        -->
        <div>
            <button id="addStartBreakButton">Start/Break</button>
            <button id="regenerate_item_num">Reset Item #</button>
            <button id="templatesButton">View</button>  
        </div>
        <div class="search-bar">
            <input type = "search" placeholder = "Search..." class="search-input">
        </div>
    </div>

    <!-- Buttons across the top-->
    <div class="featureButtons">
              
    <script>
        document.getElementById("logout-btn").addEventListener("click", async () => {
            await fetch("/logout", { method: "POST" });
            window.location.href = "/login.html";
        });
    </script>
    </div>
    
    <!--template box-->
    <div id="templateBox">
        <div>
            <ul class="js-all-template-versions"></ul>
            <button id="openModalBtn" onclick=" document.getElementById('templateBox').style.display='none';">Custom</button>
        </div>
       
      </div>


    <!--Add Start /Break box-->
    <div id="startBreakBox">
        <ul>
            <li class="list-temp-css"><button id="add-start-row" onclick=" document.getElementById('startBreakBox').style.display='none';">Add Start </button></li>
            
            <li class="list-temp-css"><button id="add-break-row" onclick=" document.getElementById('startBreakBox').style.display='none';">Add Break</button></li>
        </ul>
        
    </div>

    
<!-- Modal Window -->
<div id="simpleModal" class="modal">
    <div class="modal-content">
        <span id="closeModalBtn" class="close-btn">&times;</span>
        <h2>Select desired columns</h2>
        <div class="checkbox-temp"> <input type="checkbox" id="exceptID" checked onclick="return false;"> <label>BLOCK </label> </div>
        <div class="checkbox-temp"> <input type="checkbox" id="exceptID" checked onclick="return false;"> <label>ITEM_NUM </label> </div>
        <div class="checkbox-temp"> <input type="checkbox" id="exceptID" checked onclick="return false;"> <label>MODIFIED </label> </div>
        <div class="checkbox-temp"> <input type="checkbox" id="exceptID" checked onclick="return false;"> <label>MOD_BY </label> </div>
        <div class="checkbox-temp"> <input type="checkbox" class="js-check-cam" onclick="
            if(checkedStatus('.js-check-cam')) 
                {addColumn('CAM');}
            else
                {deleteColumn('CAM');}"> <label>CAM </label> </div>
        <div class="checkbox-temp"> <input type="checkbox" class="js-check-shot" onclick="
            if(checkedStatus('.js-check-shot')) 
                {addColumn('SHOT');}
            else
                {deleteColumn('SHOT');}
            "> <label>SHOT </label> </div>
        <div class="checkbox-temp"> <input type="checkbox" class="js-check-tal" onclick="
            if(checkedStatus('.js-check-tal')) 
                {addColumn('TAL');}
            else
                {deleteColumn('TAL');}"> <label>TAL </label> </div>
        <div class="checkbox-temp"> <input type="checkbox" class="js-check-slug" onclick="
            if(checkedStatus('.js-check-slug')) 
                {addColumn('SLUG');}
            else
                {deleteColumn('SLUG');}"> <label>SLUG </label> </div>
        <div class="checkbox-temp"> <input type="checkbox" class="js-check-format" onclick="
            if(checkedStatus('.js-check-format')) 
                {addColumn('FORMAT');}
            else
                {deleteColumn('FORMAT');}"> <label>FORMAT </label> </div>
        <div class="checkbox-temp"> <input type="checkbox" class="js-check-read" onclick="
            if(checkedStatus('.js-check-read')) 
                {addColumn('READ');}
            else
                {deleteColumn('READ');}"> <label>READ </label> </div>
        <div class="checkbox-temp"> <input type="checkbox" class="js-check-sot" onclick="
            if(checkedStatus('.js-check-sot')) 
                {addColumn('SOT');}
            else
                {deleteColumn('SOT');}"> <label>SOT </label> </div>
        <div class="checkbox-temp"> <input type="checkbox" class="js-check-total" onclick="
            if(checkedStatus('.js-check-total')) 
                {addColumn('TOTAL');}
            else
                {deleteColumn('TOTAL');}"> <label>TOTAL </label> </div>
        <div class="checkbox-temp"> <input type="checkbox" class="js-check-ok" onclick="
            if(checkedStatus('.js-check-ok')) 
                {addColumn('OK');}
            else
                {deleteColumn('OK');}"> <label>OK </label> </div>
        <div class="checkbox-temp"> <input type="checkbox" class="js-check-channel" onclick="
            if(checkedStatus('.js-check-channel')) 
                {addColumn('CHANNEL');}
            else
                {deleteColumn('CHANNEL');}"> <label>CHANNEL </label> </div>
        <div class="checkbox-temp"> <input type="checkbox" class="js-check-writer" onclick="
            if(checkedStatus('.js-check-writer')) 
                {addColumn('WRITER');}
            else
                {deleteColumn('WRITER');}"> <label>WRITER </label> </div>
        <div class="checkbox-temp"> <input type="checkbox" class="js-check-editor" onclick="
            if(checkedStatus('.js-check-editor')) 
                {addColumn('EDITOR');}
            else
                {deleteColumn('EDITOR');}"> <label>EDITOR </label> </div>

        <div> <input class="js-input-temp-name input-temp-name-css" placeholder="template name" type="text" onkeydown="enter(event.key);">
            <button class="add-button-css" onclick="createTemplate()">Add</button>
        </div>
    </div>
</div>


    <div class="main-content-div">


        <!-- /*Left most column (working directory)*/ --> 
        <div class="div-1">  
            <h2 style="color: #B5A36A;">Directory</h2>

            <div id="folderList"></div>
        </div>
    
    
        <div class="div-rundown-name js-create">View A Template</div>
    
            <div class="div-2">     <!--/*Top Right column (Table with all data: PAGE, CAM, SHOT....etc)*/-->
    
                <table id="data-table" class="js-create-script table-css"></table>
                    
            </div>
    
    
            <div class="div-3">     <!--/*Bottom Middle column*/--> Sample files </div>


        <!--Script Box-->
        <div class="scriptBox-container">
            <h2 class="scriptBox-heading">Script Editing (Current length: 0 min 0 sec)</h2>
            <textarea class="scriptBox" placeholder="Enter script here..." oninput="calculateTime(this)"></textarea>
            <button id="scriptSubmit" style="height: 30px; cursor: pointer; font-size: 1rem; border-radius: 10px;">Submit</button>
        </div>


        

    </div>

    <script src="/static/home.js"></script>
    <script src="/static/table.js"></script>
    <script src="/static/tableContinued.js"></script>
</body>
</html>
    