body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: rgb(165, 163, 157);dark blue gray */
    background-color: rgb(27,30,48);
}
/*News Production program login header*/
.header-content {
    height: 120px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    position: fixed;
    font-size: 1.5rem; /* Try 2.8rem or 3rem if you want bigger */
    font-weight: 700;
    top: 0;
    left: 0;
    gap: 10px;
    width: 100%;
    z-index: 10;
    background-color: white;
    color: rgb(27,30,48);
    /* padding: 10px; */
    /* background-color: #f8f8f8; very light gray almost white */
    /* color: rgb(27,30,48); dark blue gray */
}

  /*logo structure*/
  .logo {
    width: 120px;  
    height: auto;
    padding-right: 10px;
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    width: 300px;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

h4 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 15px;
}

.input-wrapper {
    position: relative;
    margin: 10px 0;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px 10px 10px 40px; /* Space for icon */
    margin: 0;
    border: 1px solid rgb(40, 37, 37);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 10px center; /* Position the icon */
    background-size: 20px 20px; /* Size of the icon */
    font-size: 15px;
}

input[type="email"] {
    background-image: url("/public/images/user-solid.svg");
}

input[type="password"] {
    background-image: url("/public/images/key-solid.svg");
}

/* Input states */
input[type="email"]:hover,
input[type="email"]:focus,
input[type="email"]:active,
input[type="password"]:hover,
input[type="password"]:focus,
input[type="password"]:active {
    border-color: rgb(55, 49, 49);
    outline: none;
    background-color: white; /* Preserve background */
 
}

.forgot-password {
    display: block;
    text-align: right;
    margin: 10px 0;
    color: #49627c;
    text-decoration: none;
}

.loginActuallButton {
    text-align: center;
}

.login-button {
    background-color: #d6ba77;
    color: rgb(27,30,48);
    padding: 10px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
}

.login-button:hover {
    background-color: #cba95f;
    transform: scale(1.02);
}